<!DOCTYPE HTML>
<html>
<head>
  <title>Error - TextureMC</title>
  <div th:replace="/index.html :: header"></div>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <div th:replace="/index.html :: navbar"></div>
  <div class="content">
    <div class="panel">
      <div class="panel-text">
        <h2>Error <span th:text="${status}"></span> - <span th:text="${error}"></span></h2>
        <span th:unless="${error_extra}">If you believe this is an error, please 
          contact <a href="mailto:bugs@texturemc.com">bugs@texturemc.com</a>.</span>
        <span th:if="${error_extra}" th:text="${error_extra}">If you believe this is an error, please 
          contact <a href="mailto:bugs@texturemc.com">bugs@texturemc.com</a>.</span><br>
        <a href="/"><button class="button-primary">Return Home</button></a>
      </div>
    </div>
    <div class="panel">
        <div class="panel-text beta-notice">
          <span><b>Please note:</b> This website is in <i>BETA</i>, <a href="/about">Click Here</a> to see more!</span>
        </div>
      </div>
  </div>
</body>
</html>
