<!DOCTYPE HTML>
<html>
<head>
  <title>Account - TextureMC</title>
  <div th:replace="/index.html :: header"></div>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/account/style.css">
  <script type="text/javascript" src="/lib/jszip.min.js"></script>
  <script type="text/javascript" src="/lib/FileSaver.min.js"></script>
</head>
<body>
  <div th:replace="/index.html :: navbar"></div>
  <div class="main">
    <div class="infolist">
      <h2>Account</h2>
      <div class="hseperator"></div>
      <img src="/images/Grass_Block.png" width="128" height="128">
      <div class="username">
        <h3 id="username" th:text="${username}"></h3>
        <img src="/images/edit.svg" open-modal="rename-user">
      </div>
      <div class="vdisplay">
        <span class="linkbtn" id="logout">Log Out</span>
        <span class="linkbtn" open-modal="change-password">Change Password</span>
        <span class="linkbtn" open-modal="delete-user">Delete Account</span>
      </div>
    </div>
    <div class="vseperator"></div>
    <div class="infolist">
      <h2>Texture Packs</h2>
      <div class="hseperator"></div>
      <div id="packs">
        <div class="pack" th:each="pack : ${packs}" th:data-pack="${pack.id}" th:data-pack-name="${pack.name}">
          <div class="pack-row"><span class="pack-name" th:text="${pack.name}"></span><img class="pack-settings" src="/account/imgs/set.svg"></div>
          <div class="pack-row" th:text="${pack.version}">1.19.2</div>
        </div>
      </div>
      <div id="packs-empty" th:style="${#lists.isEmpty(packs) ? 'display:block' : 'display:none'}">You don't have any packs yet<br>Click the button below to get started!</div><br>
      <div th:style="${!isMax ? 'display:block' : 'display:none'}">
        <label class="importpack green" open-modal="new-pack">&#10133; New Texture Pack</label>
        <!--<label for="importPackFile" class="importpack">Import File</label>
        <input type="file" class="hidden" id="importPackFile" accept=".zip" onchange="confirmImportPack()">-->
      </div>
    </div>
  </div>
  <div class="pack-context" id="pack_context_menu" style="display: none;">
    <a class="pack-context-item" open-modal="rename-pack"><i class="fa fa-pencil"></i>Rename</a>
    <a class="pack-context-item" open-modal="download-pack"><i class="fa fa-download"></i>Download</a>
    <a class="pack-context-item" open-modal="duplicate-pack"><i class="fa fa-copy"></i>Duplicate</a>
    <a class="pack-context-item red" open-modal="delete-pack"><i class="fa fa-trash"></i>Delete</a>
  </div>
  <div class="modal-bg" id="modal-bg">
    <form class="modal refresh-packs-on-complete" modal="new-pack" action="/packs/create">
      <h2>Create a new Texture Pack</h2>
	    <p>Give your new pack a name and select a minecraft version!</p>
      <div class="hdisplay">
        <input class="textInput" type="text" name="name" placeholder="Pack Name" regex="^[\w !@#$%^&*()§\-_+=~`<>?|\\\/{}\[\]:]{1,45}$" msg="Invalid Pack Name, try shortening it or removing special characters.">
        <select class="selectInput" name="version" id="packVersion" value="1.18.1">
          <option value="1.19.1">1.19.2</option>
          <option value="1.19.1">1.19.1</option>
          <option value="1.18.1">1.18.1</option>
          <option value="1.17.1">1.17.1</option>
          <option value="1.16.5">1.16.5</option>
          <option value="1.15.2">1.15.2</option>
          <option value="1.14.2">1.14.2</option>
          <option value="1.13.2">1.13.2</option>
          <option value="1.12.2">1.12.2</option>
          <option value="1.11.1">1.11.2</option>
          <option value="1.10.1">1.10.2</option>
          <option value="1.9.3">1.9.3</option>
          <option value="1.8.9">1.8.9</option>
        </select>
      </div>
      <div class="notification" messages></div>
      <div class="btn" modal-close>Cancel</div>
      <input type="submit" class="btn primary" value="Create New Pack">
    </form>

    <div class="modal" modal="import-pack">
      <h2>Import Texture Pack</h2>
	    <p>Please select a texture pack file to import</p>
      <div class="fileinfo">
        <b id="importPackName"></b><br>
        <i id="importPackVersion"></i><br>
        <span id="importPackDesc"></span>
      </div>
      <div class="notification" id="importPackNotification"></div>
      <div class="btn" modal-close>Cancel</div>
      <div class="btn primary">Import Pack</div>
    </div>
    <div class="modal" modal="download-pack">
      <input type="hidden" name="id">
      <h2>Export Texture Pack</h2>
	    <p>Click the button below to download the pack <b id="confirmExportName"></b></p>
      <div class="notification" id="confirmExportNotification"></div>
      <div class="btn" modal-close>Cancel</div>
      <div class="btn primary">Download</div>
    </div>

    <form class="modal refresh-packs-on-complete" modal="rename-pack" action="/packs/rename">
      <input type="hidden" name="id">
      <h2>Change Texturepack Name</h2>
      <p>Usernames must be 3 to 16 characters long.</p>
      <div class="hdisplay">
        <input class="textInput" type="text" name="name" placeholder="New Texturepack name" autocomplete="off" regex="^[\w !@#$%^&*()§\-_+=~`<>?|\\\/{}\[\]:]{1,45}$" msg="Invalid Pack Name, try shortening it or removing special characters.">
      </div>
      <div class="notification" messages></div>
      <div class="btn" modal-close>Cancel</div>
      <input type="submit" class="btn primary" value="Rename Pack">
    </form>
    <form class="modal refresh-packs-on-complete" modal="duplicate-pack" action="/packs/duplicate">
      <input type="hidden" name="id">
      <h2>Copy Texture Pack</h2>
	    <p>Click the button below to create a copy of the pack <b modal-pack-name></b></p>
      <div class="notification" messages></div>
      <div class="btn" modal-close>Cancel</div>
      <input type="submit" class="btn primary" value="Duplicate">
    </form>
    <form class="modal refresh-packs-on-complete" modal="delete-pack" action="/packs/delete">
      <input type="hidden" name="id">
      <h2>Confirm Delete</h2>
	    <p>Are you sure you would like to delete the pack <b modal-pack-name></b>?</p>
      <div class="notification">This cannot be undone!</div>
      <div class="notification" messages></div>
      <div class="btn" modal-close>Cancel</div>
      <input type="submit" class="btn primary" value="Delete Pack">
    </form>
    <form class="modal" modal="rename-user" action="/auth/rename">
      <h2>Change your Username</h2>
      <p>Usernames may only contain letters, numbers,<br> underscores, and be 3 to 16 characters long.</p>
      <div class="hdisplay">
        <input class="textInput" type="text" name="username" placeholder="New Username" autocomplete="off" regex="^\w{2,16}$" msg="Username must be 2 - 16 characters and only contain letters, numbers, and underscores.">
      </div>
      <div class="notification" messages></div>
      <div class="btn" modal-close>Cancel</div>
      <input type="submit" class="btn primary" value="Update Username">
    </form>
    <form class="modal" modal="change-password" action="/auth/change-password">
      <h2>Change your Password</h2>
      <p>You must use the new password to log in after changing it.</p>
      <div>
        <input class="textInput" type="password" name="oldPassword" placeholder="Old Password" autocomplete="current-password" regex="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d@$!%*#?&]{8,64}$" msg="Old password is invalid.">
        <input class="textInput" type="password" name="newPassword" placeholder="New Password" autocomplete="new-password" regex="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d@$!%*#?&]{8,64}$" msg="New password must contain a minimum of eight characters, at least one letter, and one number.">
      </div>
      <div class="notification" messages></div>
      <div class="btn" modal-close>Cancel</div>
      <input type="submit" class="btn primary" value="Change Password">
    </form>
    <form class="modal" modal="delete-user" action="/auth/delete">
      <h2>Delete your Account</h2>
      <p>Please enter your password to continue</p>
      <div class="hdisplay">
        <input class="textInput" type="password" name="password" placeholder="Enter your Password" autocomplete="current-password" regex="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d@$!%*#?&]{8,64}$" msg="Password is invalid.">
      </div>
      <div class="notification" id="delUserNotification">This CANNOT be undone!</div>
      <div class="notification" messages></div>
      <div class="btn" modal-close>Cancel</div>
      <input type="submit" class="btn primary" value="Delete Account">
    </form>
  </div>
  <script type="text/javascript" src="/account/script.js"></script>
  <script type="text/javascript" src="/js/form.js"></script>
</body>
</html>