<!DOCTYPE HTML>
<html>
<head>
  <title>Log In - TextureMC</title>
  <div th:replace="/index.html :: header"></div>
  <link rel="stylesheet" type="text/css" href="/signup/style.css">
</head>
<body>
  <div th:replace="/index.html :: navbar"></div>
  <div class="main">
    <div class="title">TextureMC Log In</div>
    <div class="text">Please enter your email and password</div>
    <form class="vertical-form" action="/auth/login" messages="#notification" success="/account">
      <input type="text" name="email" placeholder="Email" autocomplete="email" class="userinput" 
          regex="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" msg="Email must be a valid address." autofocus>
      <input type="password" name="password" placeholder="Password" autocomplete="new-password" class="userinput" 
          regex="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d@$!%*#?&]{8,64}$" msg="Password must contain a minimum of eight characters, at least one letter, and one number.">
      <input type="submit" value="Log In" class="button">
    </form>
    <div class="notification" id="notification"></div>
    <div class="text2">Don't have an account? <a href="/signup/">Sign Up</a></div>
    <br>
    <div class="text2" style="font-size: small; opacity: 0.75; max-width: 25rem;">Due to some database issues, a few duplicate accounts were created with the same email but different passwords, and those accounts have since been merged. <b>If you cannot log in using your traditional password, try one that might of been used on another account.</b> If you are having issues with logging in and/or are missing access to packs you have created, please <a href="mailto:bugs@texturemc.com?subject=Account%20Issues">contact us</a> and we will try our best to resolve it!</div>
  </div>
  <script type="text/javascript" src="/js/form.js"></script>
</body>
</html>