<!DOCTYPE HTML>
<html>
<head>
  <title>Log In - TextureMC</title>
  <div th:replace="/index.html :: header"></div>
  <link rel="stylesheet" type="text/css" href="/signup/style.css">
  <script type="text/javascript" src="/login/script.js"></script>
</head>
<body>
  <div th:replace="/index.html :: navbar"></div>
  <div class="main">
    <div class="title">TextureMC Log In</div>
    <div class="text">Please enter your username and password</div>
    <form class="vertical-form" action="/login/" method="post">
        <input type="email" name="email" placeholder="Email Address" autocomplete="email" autofocus class="userinput">
        <input type="password" name="password" placeholder="Password" autocomplete="current-password" class="userinput">
        <input type="submit" value="Log In" class="login">
    </form>
    <div class="notification" id="notification"></div>
    <div class="text2">Don't have an account? <a href="/signup/">Sign Up</a></div>
  </div>
</body>
</html>