<!DOCTYPE HTML>
<html>
<head>
  <title>Editor - TextureMC</title>
  <div th:replace="/index.html :: header"></div>
  <link rel="stylesheet" type="text/css" href="/editor/css/styles.css">
  <link rel='stylesheet' href='/editor/libs/spectrum.css'/>
  <script src='/editor/libs/spectrum.js'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div th:replace="/index.html :: navbar"></div>
  <div class="editor">
    <div class="sidebar">
      <div class="pack">
        <div>
          <span th:text="${pack_name}">Pack Name</span>
          <span class="version" th:text="${pack_version}">1.19.2</span>
        </div>
        <div class="save" id="save">
          <i class="fa fa-save"></i> <span id="save_status">Saved</span>
        </div>
      </div>
      <div class="filetree" style="visibility: hidden;">
      </div>
    </div>
    <div class="editor-container">
      <div class="toolbar">
        <div class="pen-size">
          <canvas id="pen_canvas" width="15" height="9" class="checkerboard-bg large"></canvas>
          <input class="slider" type="range" id="pen_size" min="1" max="5" value="1">
        </div>
        <div class="color-selection">
          <input type='text' id="color_selection"/>
        </div>
        <div class="toollist">
          <div class="tool selected" data-tool="pen" data-cursor="/editor/imgs/pen_cursor.png"><img src="/editor/imgs/pen.svg"></div>
          <div class="tool" data-tool="paintBucket" data-cursor="/editor/imgs/paint_bucket_cursor.png"><img src="/editor/imgs/paint_bucket.svg"></div>
          <div class="tool" data-tool="line" data-cursor="/editor/imgs/pen_cursor.png"><img src="/editor/imgs/line_tool.svg"></div>
          <div class="tool" data-tool="circle" data-cursor="/editor/imgs/pen_cursor.png"><img src="/editor/imgs/circle_tool.svg"></div>
          <div class="tool" data-tool="box" data-cursor="/editor/imgs/pen_cursor.png"><img src="/editor/imgs/box_tool.svg"></div>
          <div class="tool" data-tool="variation" data-cursor="/editor/imgs/pen_cursor.png"><img src="/editor/imgs/variation_tool.svg"></div>
        </div>
        <div class="image-upload">
          <label><img src="/editor/imgs/upload.svg" width="32" height="32"></label>
          <input id="image_upload" type="file" accept=".zip" style="display:none;">
        </div>
      </div>
      <div id="camera" style="cursor: url('/editor/imgs/pen_cursor.png') 0 16, default;">
        <div id="pos_container">
            <canvas id="main" width="16" height="16" class="checkerboard-bg small"></canvas>
            <canvas id="preview" width="16" height="16"></canvas>
            <canvas id="highlight" width="16" height="16" style="opacity: 0.2;"></canvas>
        </div>
      </div>
    </div>
  </div>
  <script src="/editor/js/tools.js"></script>
  <script src="/editor/js/canvas.js"></script>
  <script src="/editor/js/controller.js"></script>
  <script th:inline="javascript">
    var packId = /*[[${pack_id}]]*/ "";
    var packName = /*[[${pack_name}]]*/ "Error Loading Pack";
    var packVersion = /*[[${pack_version}]]*/ "1.19.2";
  </script>
  <script type="text/javascript" src="/editor/js/script.js"></script>
</body>
</html>